__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
*.egg-info
.git
.gitignore
.env
.env.local
config.ini
ngrok.yml
*.log
.DS_Store
.vscode
.idea
example/
web/frontend/node_modules
web/frontend/dist
web/static/dist
